{% extends "basic_app/base.html" %}
{%load staticfiles%}

{% block content %}

<div class="container">

  <div class="jumbotron">

    {%if registered%}
    <h1>thank you for registering</h2>
    {%else%}
    <h1>register here</h2>
    <h3> just fill out this form</h3>
    <form enctype="multipart/form-data" method="post">
      {%csrf_token%}
      {{user_form.as_p}}
      {{profile_form.as_p}}
      <input type="submit" name="" value="Register">
    </form>
    {%endif%}

  </div>

</div>

{%endblock%}
